* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#top{
    background-color: white;
}

.user-icon{
    height: 50px;
    border-radius: 50%;
}

#notifiche{
    background-color: #8DDBFC;
}

.fa-bell-slash {
    color: white;
    
}

#contatti{
    height: 300px;
}

#chat{
    height: 70vh;
    background-image: url(https://preview.redd.it/qwd83nc4xxf41.jpg?auto=webp&s=172adf428061ec1b71c0d43b7ba870f85d46a816);
}